h1, h2, h3, h4 {
	text-align: left;
}
a.toc_item {
	font-weight: bold;
}
.section, .chapter_title {
	page-break-before: always;
}
.chapter_title {
	text-align: left;
}
p.line {
	padding-left: 30px;
	margin-top: 20px;
	margin-bottom: 0;
}

p.meta {
}
